:root {
  --sigalei-bcg-red: rgb(202, 0, 50);
  --sigalei-bcg-white: rgb(255, 255, 255);

  --sigalei-blue-light: #2a1ca3;
  /* versão mais clara para hover/efeitos */
  --sigalei-text-light: #f5f5f5;
  --sigalei-text-white: #ffffff;
  /* texto em fundos escuros */
  --sigalei-text-dark: #313131;

  --font-main: 14px;

  --background: #f0f0f0;
  --card: #ffffff;
  --primary-rgb: 202, 0, 50;
  /* azul, sem alpha */
}

@font-face {
  font-family: Archivo_Condensed;
  src: url("./Montserrat-Regular.ttf");
}

* {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-family: Archivo_Condensed, sans-serif;
  font-size: var(--font-main);
  letter-spacing: 1px;
  z-index: 0;
  text-decoration: none;
  list-style: none;
  font-style: normal;
  outline: 0;
  transition: all 0.5s;
  color: var(--sigalei-text-dark);
  background-color: transparent;
  font-weight: 500;
}

::placeholder {
  color: var(--sigalei-text-light);
}


html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  background: var(--sigalei-bcg-white);
}

html, body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

/*Global*/
button:hover{
  transform: scale(1.1);
}

.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  /* ajusta conforme necessário */
  overflow: hidden;
}

/* Background Effects */
.bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, var(--background), var(--background), var(--card));
  z-index: 1;
}

.bg-radial {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at top, rgba(var(--primary-rgb), 0.1), transparent, transparent);
  z-index: 2;
}

/* Grid Pattern */
.bg-grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.07) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.07) 1px, transparent 1px);
  background-size: 24px 24px;
  z-index: 3;
}


/*LOADER*/
.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sigalei-bcg-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 50000;
}

.loader.hidden {
  display: none;
}

.spinner {
  font-size: 28px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.174em;
  height: 1.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }

  100% {
    background-color: transparent;
  }
}


.contente-body {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

/*HEADER CONTENTES*/
.header-body {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40000;
  width: 100%;
  max-height: 70px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0 0 0;
}

.content-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 41000;
  width: 80%;
  height: 100vh;
  padding: 40px 10%;
  background-color: var(--sigalei-bcg-white);
  backdrop-filter: blur(20px);
  transform: translateX(-200%);

  .close-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 25px;
      font-weight: 700;
      color: var(--sigalei-bcg-red);
    }

    i {
      font-size: 20px;
      color: var(--sigalei-bcg-red);
      display: flex;
      flex-direction: row;
      margin-left: auto;
    }
  }

  nav{
    border-top: solid 2px rgba(202, 0, 50, 0.26);
    margin-top: 30px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    li {
      padding: 15px 0;
      font-size: 16px;

      a {
        color: var(--sigalei-bcg-red);
        font-size: 18px;
      }
    }



    button {
      cursor: pointer;
      padding: 15px 10px;
      font-weight: 700;
      color: var(--sigalei-bcg-red);
      border: solid 1px var(--sigalei-bcg-red);
      border-radius: 20px;
      width: 100%;
    }

    .btnSign {
      background-color: var(--sigalei-bcg-red);
      color: var(--sigalei-bcg-white);
    }

    .btnSign:hover {
      transform: scale(1.1);
    }
  }

  nav .itens-btn li {
    padding: 5px 0;
    gap: 0;

    a{
      font-weight: 700;
    }
  }
}

.content-menu.open {
  transform: translateX(0%);
}

.content-header {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  padding: 0 10px;
  background-color: rgba(202, 0, 50, 0.123);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: solid 1px rgba(202, 0, 50, 0.26);

  .logo-sigalei {
    width: auto;
    height: 60px;
    cursor: pointer;
  }


  .nav-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .list-itens-nav {
      width: auto;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0%;

      li{
        padding: 0 20px;
      }

      li a {
        font-weight: 700;
        cursor: pointer;
      }

      li a:hover {
        color: var(--sigalei-bcg-red);
        transform: scale(1.1);
      }
    }

    .itens-btn {
      width: 25%;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-around;


      button {
        cursor: pointer;
        padding: 10px 10px;
        font-weight: 700;
      }

      .btnSign {
        border-radius: 20px;
        background-color: var(--sigalei-bcg-red);
        color: var(--sigalei-bcg-white);
        width: 100px;
      }

      .btnSign:hover {
        transform: scale(1.1);
      }
    }
  }

  .menu-mobile {
    display: none;
  }
}


/*MAIN CONTENT*/
.main-body {
  width: 100%;
  height: auto;
  padding: 100px 0 0 0;
}

.main-body .content-hero {
  width: 60%;
  height:auto;
  padding: 100px 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    text-align: center;
    font-size: 60px;
    font-weight: 700;

    i {
      font-size: 60px;
      font-weight: 700;
      color: rgb(202, 0, 50);
    }
  }

  p.text {
    width: 70%;
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
  }

  .btn-cta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;

    button {
      cursor: pointer;
      color: var(--sigalei-bcg-white);
      font-weight: 700;
      border-radius: 20px;
      padding: 15px 30px;
    }

    .btnHelp {
      background-color: var(--sigalei-bcg-red);
    }

    .btnShow {
      background-color: rgba(202, 0, 50, 0.596);
    }
  }

  .info-numbers{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 0;

    .card-num{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

      i{
        font-size: 50px;
        color: var(--sigalei-bcg-red);
      }

      p{
        width: 80%;
        padding: 10px 0;
        font-size: 18px;
        text-align: center;
      }
    }

  }
}

/*SET RESPONSIVE PAGE*/
@media (max-width: 1585px) {

  /* laptops pequenos */
  .content-header {
    width: 80%;
    .nav-header {


      .itens-btn{
      width: 30%;
     }
     }
  }

  .main-body {
    padding: 5px 0 0 0;
  }

  .main-body .content-hero {
    height:auto;
    padding: 150px 20%;
  }
}

/*@media (max-width: 1000px){
  .content-header {
    width: 80%;
  }
}*/

@media (max-width: 890px) {

  /* tablets */
  .content-header {
    width: 90%;

     .nav-header {
      .itens-btn{
      width: 30%;
     }
     }
     
  }

   .main-body {
    padding: 5px 0 0 0;
  }

  .main-body .content-hero {
    width: 75%;
    padding: 150px 12.5%;
    height: auto;

    .title {
      width: 100%;
      font-size: 40px;

      i{
        font-size: 40px;
      }
    }

    p {
      width: 100%;
      font-size: 15px;
      padding: 20px 0 40px 0;
    }
  }


}

@media (max-width: 800px) {

  /* telemóveis */
  .content-header {
    width: 80%;
    padding: 0 5%;

    .nav-header {
      display: none;
    }

    .menu-mobile {
      display: flex;

      i {
        font-size: 25px;
        color: var(--sigalei-bcg-red);
      }
    }
  }

  .main-body {
    padding: 5px 0 0 0;
  }

  .main-body .content-hero {
    height: auto;
    width: 90%;
    padding: 130px 5%;

    .title {
      width: 100%;
      font-size: 32px;

      i {
        font-size: 32px;
      }
    }

    p {
      width: 100%;
      font-size: 15px;
      padding: 20px 0 40px 0;
    }

    .btn-cta {
      flex-direction: column;

      button {
        width: 100%;
        margin-bottom: 2%;
      }
    }

    .info-numbers{
      flex-direction: column;
      gap: 5%;

      .card-num{
        width: 90%;
        margin-bottom: 2%;
      }
    }
  }
}